<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">

	<property resource="liveshow.properties" />

	<!-- Handle JUL -->
	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
		<resetJUL>true</resetJUL>
	</contextListener>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date [%thread] [%file:%line] [%level %logger{0}] - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="ACCESS" class="ch.qos.logback.core.FileAppender">
		<file>${logs.dir}/container-access.log</file>
		<encoder>
			<charset>UTF-8</charset> 
			<pattern>%date [%thread] [%file:%line] [%level %logger{0}] - %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="ASYNC_ACCESS_FILE" class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="ACCESS" />
		<queueSize>102400</queueSize>  
    	<discardingThreshold>0</discardingThreshold> 
    	<includeCallerData>true</includeCallerData>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>${logs.dir}/home-web.log</file>
		<encoder>
			<charset>UTF-8</charset> 
			<pattern>%date [%thread] [%file:%line] [%level %logger{0}] - %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="ASYNC_FILE" class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="FILE" />
		<queueSize>102400</queueSize>  
    	<discardingThreshold>0</discardingThreshold> 
    	<includeCallerData>true</includeCallerData>
	</appender>
	
	<!-- 统计getFromCache、getFromDb操作 -->
	<appender name="AUDIT_FILE" class="ch.qos.logback.core.FileAppender">
		<file>${logs.dir}/audit.log</file>
		<append>false</append><!-- 每次重启都将旧文件删除 -->
		<encoder>
			<charset>UTF-8</charset> 
			<pattern>%date [%thread] [%file:%line] [%level %logger{0}] - %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="ASYNC_AUDIT_FILE" class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="AUDIT_FILE" />
		<queueSize>102400</queueSize>  
    	<discardingThreshold>0</discardingThreshold> 
	</appender>
	
	<!-- MongoDB Cluster检测日志 -->
	<appender name="MONGODB_CLUSTER_FILE" class="ch.qos.logback.core.FileAppender">
		<file>${logs.dir}/mongodb_cluster.log</file>
		<append>true</append><!-- 每次重启都不将旧文件删除 -->
		<encoder>
			<charset>UTF-8</charset> 
			<pattern>%date - %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="ASYNC_MONGODB_CLUSTER_FILE" class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="MONGODB_CLUSTER_FILE" />
		<queueSize>102400</queueSize>  
    	<discardingThreshold>0</discardingThreshold> 
	</appender>
	
	<!-- Ping日志 -->
	<appender name="THRIFT_PING_FILE" class="ch.qos.logback.core.FileAppender">
		<file>${logs.dir}/thrift_ping.log</file>
		<append>true</append><!-- 每次重启都不将旧文件删除 -->
		<encoder>
			<charset>UTF-8</charset> 
			<pattern>%date - %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="ASYNC_THRIFT_PING_FILE" class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="THRIFT_PING_FILE" />
		<queueSize>102400</queueSize>  
    	<discardingThreshold>0</discardingThreshold> 
	</appender>

	<!-- 性能日志，3秒超时 performance log -->
    <appender name="ROLL_FILE_APP_PERFORMANCELOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logs.dir}/performance/data.dat</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logs.dir}/performance/data.dat.%d{yyyyMMdd}</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%date|%msg%n</pattern>
        </encoder>
    </appender>

	<appender name="ROLL_FILE_REC_BROADCAST"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${logs.dir}/broadcast.data</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${logs.dir}/broadcast.data.dat.%d{yyyyMMdd}
			</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<charset>UTF-8</charset>
			<pattern>%date|%msg%n</pattern>
		</encoder>
	</appender>
	
	<!-- ELK上报配置 Start -->
	<appender name="ME_ELK_FILE" class="ch.qos.logback.core.FileAppender">
		<file>/data/weblog/others/log_me_elk/history.log</file>
		<encoder>
			<charset>UTF-8</charset> 
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>
	<appender name="ASYNC_ME_ELK_FILE" class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="ME_ELK_FILE" />
		<queueSize>102400</queueSize>
    	<discardingThreshold>0</discardingThreshold>
	</appender>
	<logger name="me_elk.log" additivity="false" level="DEBUG">
		<appender-ref ref="ASYNC_ME_ELK_FILE" />
	</logger>
    <!-- ELK上报配置 End -->
	
	<logger name="org.apache" level="WARN" />
	<logger name="org.springframework" level="INFO" />
	<logger name="com.yy.cs.base.http" level="INFO" />

	<logger name="com.mongodb" level="INFO" />
	
	<logger name="org.dozer" level="INFO" />

	<logger name="com.yy.cs.center.remoting.protocol.thrift.ThriftHandler" level="ERROR" />
	<logger name="com.yy.cs.center.remoting.netty.NettyClient" level="ERROR" />
	<logger name="com.yy.cs.center.thrift" level="INFO" />
	
	<logger name="HttpURLConnection" level="ERROR" />
	<logger name="sun.net.www.protocol.http.HttpURLConnection" level="ERROR" />
	<logger name="com.yy.tinytimes.yycloud.ApTokenUtils" level="WARN" />
	
	<logger name="com.yy.tinytimes.dao.LiveShowMapper.selectByStartingNow" level="WARN" />
	
	<!-- 转移MongoDB Cluster日志 -->
	<logger name="org.mongodb.driver" additivity="false" level="ERROR">
		<appender-ref ref="ASYNC_MONGODB_CLUSTER_FILE" />
	</logger>
	
	<!-- 转移Thrift Ping日志 -->
	<logger name="com.yy.cs.center.remoting.exchange.HeaderExchangeClient" additivity="false" level="INFO">
		<appender-ref ref="ASYNC_ASYNC_THRIFT_PING_FILE" />
	</logger>
	
	<logger name="audit.log" additivity="false" level="DEBUG">
		<appender-ref ref="ASYNC_AUDIT_FILE" />
	</logger>
	
    <logger name="PERFORMANCELOG" level="INFO" additivity="false">
        <appender-ref ref="ROLL_FILE_APP_PERFORMANCELOG" />
    </logger>

	<logger name="REC_BROADCAST" level="INFO" additivity="false">
		<appender-ref ref="ROLL_FILE_REC_BROADCAST" />
	</logger>
	
	<logger name="com.yy.me.thrift.ThriftChannelAccessFilter" additivity="false" level="INFO">
		<appender-ref ref="ASYNC_ACCESS_FILE" />
	</logger>

	<root level="${logs.level}">
		<if condition='property("logs.local").equals("true")'>
			<then>
				<appender-ref ref="STDOUT" />
			</then>
		</if>
		<appender-ref ref="ASYNC_FILE" />
	</root>
</configuration>

